
  .container-map {
    width: 100%;
}

.container-map h2{
    font-size: 30px;
    color: #303030;
    font-weight: normal;
    margin-left: 28px;
    margin-bottom: 10px;
}

.map{
    width: 100%;
    max-width: 550px;
    height: 250px;
    border:10px solid #46505c;
    margin: 0 auto;
}


.clear{
    clear: both;
}


.mainPage{
    
    

}

.container-alertas{
    width: 60%;
    max-width: 800px;
    padding-top: 20px;
    margin-right: 10px;
}

.meus-alertas{
    width: 100%;
    background-color: #e6edf5;
    padding: 15px;
}


.titulo{
    width: 300px;
    padding: 15px;
    background-color: #48525e;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.one{
    display: block;
    width: 150px;
    text-decoration: none;
    margin-bottom: 10px;
}

.alertas{
    width: 100%;
    padding-top: 10px;
}

.alertas button{
    width:15vh !important;
}
   
.alertas textarea{
    width:60vh !important;
    height: 10vh;

    margin-left: 10vh !important;

}

.info-alerta{
    width: 50%;
    float: left;
    text-align: left;
}
.info-alerta h3{
    font-size: 20px;
    color: #626466;
}

.info-alerta p{
    font-size: 14px;
    color: #626466;
    text-align: justify;
}

.permisao{
    width:30%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.permisao p{
    color: #424242;
    font-weight: bold;
}

.permisao button{
    margin-top: 10px;
    width: 60px;
    padding: 5px 0;
    color:  white;
    background-color:#48525e ;
    border: 0;
    border-radius: 5px;
}

.permisao button:nth-of-type(1){
    margin-right: 10px;
}

.alertas hr{
    margin-top: 10px;
}


.mini-menu{
    width: 100%;
    padding: 20px 20px 5px 20px;
    text-align: center;
}

.mini-menu a{
    border: 1px solid #99a2ab;
    padding: 5px;
    text-decoration: none;
    color:  #626364;
}

.mini-menu > a:first-child{
    border-radius: 5px 0 0 5px;
}

.mini-menu > a:last-child{
    border-radius: 0px 5px 5px 0;
}

.btn-alerta{
    width: 100%;
    padding: 10px;

}

.btn-alerta button{
    float: right;
    width: 150px;
    height: 40px;
    background-color: #353f4b;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.container-regiao-contato{
    width: 50%;
    margin-top: 10px;
}


.contato{
    width: 100%;
    margin-top: -16vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contato > .titulo{
    margin-top: 10vh !important;
    border-radius: 5px;
    padding: 10px 5px;
    
}

.contato  h2{
    font-size: 32px;
    font-weight: normal;
    
}

.info-contatos{
    width: 90%;
    background-color:  #e6edf5;
    text-align: center;
    height: 250px;
    color: #474d59;
    font-size: 20px;
}

.info-contatos a{
    text-decoration: none;
    color: #525761;
}

.info-contatos h4:first-child{
    padding-top: 10px;
    
}

.linha{
    width: 60%;
    height: 1px;
    border: 1px solid white;
    margin: 10px auto 0 auto;
}


.linha:first-child{
    margin: 10px auto 10px auto;
}

.alertback{
   margin: 2vh !important;
   padding:2vh !important;

}

.delet{
 
    position: absolute;
    left: 45vh !important;

    margin: 0 5vh !important;

    width: 4px !important;
}
.atual{

    position: absolute;
    left: 65vh !important;

    margin: 0 1vh !important;

    width: 5vh !important;
}




