*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.botao{
    width:20vh!important;
    height: 5vh !important;

    margin-left: 25vh !important;
}

body{
    height: 100%;
    
}

.page{
    background-size: contain;
    background-color: #9acfe4;
    height: 100vh;
}

.container{
    width: 200%;
    height: 100%;
    /* background-color: whitesmoke; */
    
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: 0;
}

.formlogin{
    border-radius: 10px;
    width: 75vh;
    height: 50vh;
    padding: 90px 40px 10px 10px;
    /* border: 1px solid black; */
    background-color: white;
    margin-right: 25vh;
}

.info-form{
    width: 100%;
    text-align: center;
}

.info-form h2{
    font-size: 34px;
    color: #747c82;
}
.info-form p{
    margin-top: 10px;
    color: #b3bac2;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 18px;
}

.input-wrapper{
    width: 100%;
    text-align: center;
}

.input-wrapper input, input[type=submit]{
    padding-left: 10px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
    margin-left: 2vh;
}



