
.botao{
    width:20vh!important;
    height: 5vh !important;

    margin-left: 25vh !important;
}


.page{
    background-size: contain;
    background-color: #e9f3f8;
    height: 100vh;
}

.MainPage{
   
    /* background-color: whitesmoke; */
    
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    border: 0;
}

.formlogin{
    border-radius: 10px;
    width: 70vh;
    height: 45vh;
    padding: 90px 40px 10px 10px;

    background-color: white;
   
    margin-top: 20vh;
    margin-left: 10vh;
}

.info-form{
    width: 100%;
    text-align: center;
}

.info-form h2{
    font-size: 34px;
    color: #747c82;
}
.info-form p{
    margin-top: 10px;
    color: #b3bac2;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 18px;
}

.input-wrapper{
    width: 100%;
    text-align: center;
}

.input-wrapper input, input[type=submit]{
    padding-left: 10px;
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    margin-top: 10px;
    margin-left: 2vh;
}



