*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}


.mainPage{
    width: 100%;
    display: flex;
    

}

.container-alertas{
    width: 60%;
    max-width: 800px;
    padding-top: 20px;
    margin-right: 10px;
}

.meus-alertas{
    width: 100%;
    background-color: #e6edf5;
    padding: 15px;
}


.titulo{
    width: 300px;
    padding: 15px;
    background-color: #48525e;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.one{
    display: block;
    width: 150px;
    text-decoration: none;
    margin-bottom: 10px;
}

.alertas{
    width: 100%;
    padding-top: 10px;
}

.alertas .mini-img{
    width: 100px;
    height: 100px;
    border: 1px solid #626466;
    border-radius: 50px;
    margin-right: 10px;
    float: left;
}

.info-alerta{
    width: 50%;
    float: left;
    text-align: left;
}
.info-alerta h3{
    font-size: 20px;
    color: #626466;
}

.info-alerta p{
    font-size: 14px;
    color: #626466;
    text-align: justify;
}

.permisao{
    width:30%;
    float: left;
    text-align: center;
    margin-top: 10px;
}
.permisao p{
    color: #424242;
    font-weight: bold;
}

.permisao button{
    margin-top: 10px;
    width: 60px;
    padding: 5px 0;
    color:  white;
    background-color:#48525e ;
    border: 0;
    border-radius: 5px;
}

.permisao button:nth-of-type(1){
    margin-right: 10px;
}

.alertas hr{
    margin-top: 10px;
}


.mini-menu{
    width: 100%;
    padding: 20px 20px 5px 20px;
    text-align: center;
}

.mini-menu a{
    border: 1px solid #99a2ab;
    padding: 5px;
    text-decoration: none;
    color:  #626364;
}

.mini-menu > a:first-child{
    border-radius: 5px 0 0 5px;
}

.mini-menu > a:last-child{
    border-radius: 0px 5px 5px 0;
}

.btn-alerta{
    width: 100%;
    padding: 10px;

}

.btn-alerta button{
    float: right;
    width: 150px;
    height: 40px;
    background-color: #353f4b;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.container-regiao-contato{
    width: 50%;
    margin-top: 10px;
}

.container-map {
    width: 100%;
}

.container-map h2{
    font-size: 30px;
    color: #303030;
    font-weight: normal;
    margin-left: 28px;
    margin-bottom: 10px;
}

.map{
    width: 100%;
    max-width: 550px;
    height: 250px;
    border:10px solid #46505c;
    margin: 0 auto;
}

.contato{
    width: 100%;
    margin-top: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.contato > .titulo{
    border-radius: 5px;
    padding: 10px 5px;

    
    
}

.contato  h2{
    font-size: 32px;
    font-weight: normal;
    
}

.info-contatos{
    width: 90%;
    background-color:  #e6edf5;
    text-align: center;
    height: 250px;
    color: #474d59;
    font-size: 20px;

    padding-top: 3vh !important;
}

.info-contatos a{
    text-decoration: none;
    color: #525761;
}

.info-contatos h4:first-child{
    padding-top: 10px;
    
}

.linha{
    width: 60%;
    height: 1px;
    border: 1px solid white;
    margin: 10px auto 0 auto;
}


.linha:first-child{
    margin: 10px auto 10px auto;
}




@media screen and (max-width:878px){
    .container{
        flex-direction: column;
    }

    .container-alertas{
        width: 90%;
        max-width: none;
        margin-right: 0;
        margin: 0  auto;
    }

    .container-regiao-contato{
        width: 90%;
        margin: 20px auto 0 auto;
    }

    .container-map {
        width: 100%;
        text-align: center;
    }
    
    .container-map h2{
        margin-left: 0;
    }
}


@media screen and (max-width:768px){


    .container-alertas{
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin: 0  auto;
    }

    .container-regiao-contato{
        width:100%;
        margin: 20px auto 0 auto;
    }

}

