


.mainPage {
  width: 100% !important;
  height: 100vh !important;
  padding-right: 50px;
  /* background-color: whitesmoke; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;

  padding-top: 15vh !important;
  padding-left: 5vh !important;
  /* align-items: center; */
}

.formcadastro {
  padding: 20px;
  border-radius: 10px;
  width: 80vh;
  height: 45vh;
  margin-top: 20vh;
  margin-left: 10vh;

  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 60px;
}
.formcadastro h2{
  font-size: 34px;
  color: #747c82;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.input-wrapper {
  width: 100%;
  text-align: center;
}

.input-wrapper input {
  width: 60vh !important;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #aaaaaa;
  margin-top: 20px;
}

.input-wrapper:nth-of-type(6) {
  margin-top: 30px;
  text-align: left;
  padding-left: 10px;
}



.input-wrapper label {
  color: #949ea7;
  font-size: 14px;

  margin-left: 1vh !important;
}

.input-wrapper:nth-of-type(7) {
  text-align: right;
}
.botao{
  margin-top:3vh;
  margin-right: 25vh;
}

.botao button{

  width:20vh!important;
  height: 5vh !important;
}