.mainPage{
    background-size: contain;
    background-color: #fff;
    
    height: 100vh;

}

.contentPage{
    margin-top: -10vh !important;
}

.contentPage input{
    height: 4vh !important;

    border-radius: 1vh;

    margin-bottom: 1vh ;
}
 hr{
    background-color: #fff !important;
}

.ranking{
    height: 6vh !important;
    width: 170vh !important;

    align-items: center !important;
    justify-content: center !important;    
}


@media only screen and (max-width: 458px){
 body{
    background-color:#fff;
    height:200% !important;

 }  
   
.mainPage{
        width:100vh!important;
        height:200vh !important;

    }

.contentPage input{

    justify-content:center;


    height: 4vh !important;
    width: 30vh !important;

    border-radius: 1vh;

    margin-bottom: 2vh ;
    padding:2vh;
}
}