.mapa{
    margin-top: 5px;
}
.card {
    margin: 0 2% !important;
  }
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }

  .covid{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;

  }

  .pageHome{
    background-size: contain;
    background-image: url('./fundoHome.png');
    
    height: 100vh;
}

.leaflet-container{
  width:110vh;
  height:400px;
}