.mapa{
  margin-top: 5px;
}
.card {
  margin: 2% 2% !important;
}



.covid{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;

}

.pageHome{
  background-size: contain;
  background-color: #e9f3f8;
  height: 100vh;
}

.leaflet-container{
width:150vh;
height:450px;
}


@media only screen and (max-width: 458px){

  .leaflet-container{
    width: 350px!important;
    height: 280px;
  }

.pageHome{

  height: 160vh !important;

}




}




