*{
  
  padding:0 !important;
  
}

.menu{
  height: 10vh !important;
}
/* home */


.mapa{
  width:100vh !important;
  position: relative;
  top:-10vh;
} 

.footer{
  position:absolute;
  top:93vh;
}